# https://kubernetes.io/docs/reference/setup-tools/kubeadm/kubeadm-init/#config-file
---
- name: 'Init control plane on first master'
  hosts: first
  become: true

  tasks:
    - name: kubadm init first master node
      block:
        - name: copy cluster configuration manifest
          ansible.builtin.copy:
            src: ./files/kubeadm-init-config.yaml
            dest: /root/cluster-init.yaml
            owner: root
            group: root
            mode: '0644'

        - name: kubadm init the cluster
          ansible.builtin.shell:
            cmd: "/usr/bin/kubeadm init --config=./cluster-init.yaml --v=5 | tee kubeadm-init.log"
            chdir: "/root"
          
    - name: get kubeadm init details locally
      block:
        - name: get kubeconfig
          ansible.builtin.fetch:
            src: /etc/kubernetes/admin.conf
            dest: ./files/
            flat: yes

        - name: get kubeadm init logs
          ansible.builtin.fetch:
            src: /root/kubeadm-init.log
            dest: ./files/
            flat: yes
